.home-content {
    margin-top: 2rem;
}
.home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}
.overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
}
.home-content .box .number{
    display: inline-block;
    font-size: 28px;
    margin-top: -6px;
    font-weight: 500;
}
.home-content .box .indicator{
    display: flex;
    align-items: center;
}
.home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
.home-content .box .indicator .text{
    font-size: 12px;
}
.home-content .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
    color: #2BD47D;
    background: #C0F2D8;
}
.home-content .box .cart.three{
    color: #ffc233;
    background: #ffe8b3;
}
.home-content .box .cart.four{
    color: #e05260;
    background: #f7d4d7;
}
.home-content .wrap-themdzochodzuiiiii {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.home-content .themdzochodzuiiiii {
    width:  45%;
}
@media (max-width: 768px) {
    #accordionSidebar.sidebar {
        width: 6.5rem!important;
    }
}
@media (max-width: 1270px) {
    .overview-boxes .box{
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 900px) {
    .home-content .wrap-themdzochodzuiiiii {
        flex-direction: column;
    }
    .home-content .themdzochodzuiiiii {
        width:  90%;
    }
}
@media (max-width: 720px) {
    .overview-boxes .box{
        width: calc(100% - 15px);
        margin-bottom: 15px;
    }
}